:root {
  --hm-green: #2c9d30;
  --hm-golden: #ebb840;
  --hm-dark-blue: #018cc9;
  --hm-light-blue: #1a9df1;
  --hm-red: #e2011a;
  --hm-yellow: #ffff00;
  --hm-light-green: #d3edea;
  --hm-light-red: #f80a10;
  --border-radius: 15px;
  --border-radius-big: 25px;
  --light-grey: #c4c4c4;
  --hm-journey-bg: #fff6ea;
  --hm-gradient: linear-gradient(90deg, rgba(255, 247, 173, 1) 0%, rgba(255, 169, 249, 1) 100%);
  --border-radius-small: 8px;
}

html,
body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: ease-in-out 0.3s;
  font-size: 14px;
}

.nepali {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-weight: 400;
}

a,
a:after,
a:hover,
a:active {
  text-decoration: none;
}

/**TopBar**/
.header-mobile {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: right;
}

.header-top {
  border-bottom: 2px solid silver;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.header-contact {
  display: flex;
  align-items: left;
}

.header-top .img-container img {
  height: 50px;
  margin-top: 5px;
  padding-right: 5px;
}

.contact-info {
  padding-left: 5px;
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.header-search {
  height: 50px;
  border: 2px solid;
  border-radius: var(--border-radius);
  padding-left: 45px;
  font-size: 17px;
  font-weight: normal;
  border-color: black;
}

.search-form-container {
  margin-top: 5px;
}

.search-form {
  position: relative;
  display: block;
}

.search-form span {
  position: absolute;
  left: 10px;
  top: 9px;
}

.search-form span img {
  height: 32px;
  width: 32px;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  margin-top: 5px;
}

.cart-container a {
  position: relative;
  margin-right: 2.5rem;
}

.cart-container a:last-child {
  margin-right: 0px;
}

.cart-container a i {
  font-size: 2rem;
  color: black;
}

.cart-container a span {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: red;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 14px;
  color: white;
  line-height: 22px;
}

/**Navbar**/
.nav-logo {
  max-height: 60px;
  width: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 18px;
  padding: 6px 13px;
}

.navbar-expand-lg .navbar-nav .nav-link.nepali {
  font-size: 1.5rem;
}

.navbar-nav .nav-item {
  padding: 8px 1rem;
}

.navbar-nav .nav-item:first-child {
  padding-left: 0px;
}

.navbar-nav .nav-item:last-child {
  padding-right: 0px;
}

.btn-green {
  background-color: var(--hm-green);
  color: white;
  border: 1px solid var(--hm-green);
}

.label-green {
  background-color: var(--hm-green);
  color: white;
  border: 1px solid var(--hm-green);
}

.btn-green:hover {
  color: var(--hm-green);
  background-color: white;
  border: 1px solid var(--hm-green);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--hm-green);
}

/*body*/
.slider-container {
  margin-top: 1rem;
  background: rgb(255, 247, 173);
  background: var(--hm-gradient);
  padding: 2rem 0;
  width: 100%;
  display: block;
  margin-bottom: 3rem;
  position: relative;
}

.p-relative {
  position: relative;
  height: 350px;
}

.big {
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 8px 25px;
}

.big i {
  color: var(--hm-golden);
}

.slider-container .hamro-logo,
.bidesh-container .hamro-logo {
  max-height: 50px;
}


.slider-text-content {
  width: 35%;
  float: left;
}

p.slider-info {
  margin-top: 3rem;
  margin-bottom: 0px;
  font-size: 2rem;
}

h2.slider-title {
  font-size: 4rem;
  color: var(--hm-light-blue);
}

p.slider-detail {
  font-size: 1.7rem;
}

.highlight-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
  width: 220px;
  text-align: center;
  padding: 10px 0px;
  border-radius: var(--border-radius);
}

.slider-image-container {
  float: right;
  width: 25%;
  margin-top: 25px;
}

.slider-image-container img {
  object-fit: cover;
  min-height: 300px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  bottom: -55px;
}

.slick-dots li button:before {
  font-size: 14px;
}

/**About**/
.about-container {
  margin-bottom: 3rem;
}

.about-left-content {
  padding: 2.5rem;
}

.about-left-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

.about-left-content p {
  font-size: 1.25rem;
  color: var(--light-grey);
  margin-top: 0.8rem;
}

.about-left-content p.about-description {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: black;
}

.group-mobile {
  margin-top: 1rem;
  position: relative;
  display: block;
}

.group-mobile span {
  background-color: var(--hm-dark-blue);
  padding: 0 15px;
  font-size: 1.5rem;
  line-height: 50px;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0px;
  left: 0px;
  color: #c4c4c4;
  height: 50px;
}

.group-mobile span img {
  max-height: 21px;
}

input.about-mobile-number {
  height: 50px;
  border: 2px solid;
  border-radius: var(--border-radius);
  font-size: 1.5rem;
  font-weight: normal;
  border-color: black;
  padding-left: 105px;
}

.journey {
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  padding: 8px 25px;
  margin-top: 1.5rem;
}

/**Infographics**/
.infographics-container {
  margin-bottom: 3rem;
}

.infographics {
  text-align: center;
}

.infographics img {
  max-height: 75px;
  margin-bottom: 8px;
}

.infographics .counter {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

.infographics p {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

/**Journey**/
.journey-container {
  margin-bottom: 2rem;
}

.section-header {
  margin-bottom: 2rem;
  position: relative;
}

.journey-content {
  text-align: center;
  width: 85%;
  margin: 0 5% 3em 5%;
  padding: 2rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--hm-journey-bg);
}

.journey-container .row div:nth-child(odd) .journey-content {
  float: left;
}

.journey-container .row div:nth-child(even) .journey-content {
  float: right;
}

.journey-content img {
  height: 170px;
}

.journey-content h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

.journey-content .tag-container span {
  padding: 3px 19px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.25rem;
  margin-right: 20px;
  display: inline-block;
  margin-top: 20px;
}

/**Popular Courses**/
.course-bundle-container {
  margin: 3rem 0;
}

.popular-course-container .gallery-filters ul {
  padding: 0px;
  margin: 0px;
}

.popular-course-container .gallery-filters ul li {
  font-size: 1.25rem;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 2rem;
  display: inline-block;
}

.popular-course-container .gallery-filters ul li a {
  color: black;
  border-radius: var(--border-radius) !important;
  text-decoration: none;
  border: 1px solid black;
  padding: 4px 16px;
  display: block;
}

.popular-course-container .gallery-filters ul li a:hover,
.popular-course-container .gallery-filters ul li a.current {
  color: var(--hm-light-blue);
  text-decoration: none;
  border-color: var(--hm-light-blue);
}

.CourseCard {
  background-color: #cfebe0;
  border-radius: 15px;
  margin-bottom: 30px;
}

.CourseCard .top-contents,
.CourseCard .bottom-contents {
  padding: 15px;
}

.CourseCard img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.CourseCard span.category {
  background-color: #44aaff;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
}


.CourseCard span.rating {
  padding: 5px;
  font-size: 18px;
  margin-right: 20px;
  color: #6e757c;
  font-weight: 600;
}

.courses {
  transition: all 0.5s;
}

span.rating .star {
  color: #efa813;
  margin-right: 5px;
}

h1.course-title {
  margin: 15px 0;
  font-weight: 400;
  font-size: 1.8rem;
}

.discount-pointer {
  height: 40px;
  position: relative;
  background: red;
  line-height: 40px;
  display: inline-block;
  padding: 0 15px;
  color: #f8ec22;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 600;
}

.discoutn-pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.discount-pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pricing {
  display: flex;
  justify-content: space-between;
}

.pricing-block {
  margin-left: auto;
}

span.current-price {
  font-size: 1.8em;
  color: #44aaff;
  margin-right: 10px;
  font-weight: 600;
}

span.old-price {
  font-size: 1.8em;
  color: #6e757c;
  font-weight: 600;
  text-decoration: line-through;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-container button {
  border: 0px;
  color: white;
  padding: 13px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin: 0 15px;
  width: 50%;
  cursor: pointer;
}

.btn-explore {
  transition: 0.4s;
  background-color: #279e48;
}

.btn-explore:hover {
  transition: 0.4s;
  background-color: #17642d;
}

.btn-enroll {
  transition: 0.4s;
  background-color: #ed1c24;
}

.btn-enroll:hover {
  transition: 0.4s;
  background-color: #9a0005fb;
}

.course-section {
  display: block;
  width: 100%;
  position: relative;
}

/*course bundle*/
a.explore-all-btn {
  text-decoration: none;
  color: black;
  position: absolute;
  right: 30px;
  top: 7px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 5px 16px;
}

a.explore-all-btn:hover {
  border-color: var(--hm-light-blue);
  color: var(--hm-light-blue);
}

/*App Info*/
.app-info-container {
  background-color: var(--hm-light-green);
  padding: 60px 0 0 0;
  margin: 3rem 0;
}

.app-info-container h1 {
  font-size: 3.5rem;
}

p.app-info-detail {
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: block;
  color: #555;
}

.app-info-container a img {
  max-height: 85px;
}

.app-info-container a img:first-child {
  margin-right: 30px;
}

/*Home Tuition*/
.home-tution-container {
  margin: 3rem 0;
}

.tutor-card {
  background-color: #ebf3f7;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 25px;
}

.tutor-card img {
  border-radius: 10px;
}

.tutor-card .profile-image {
  max-height: 100px;
  float: left;
}

.profile-name {
  font-size: 1.8em;
  margin-left: 10px;
  margin-right: 20px;
}

.profile-price {
  color: #44aaff;
  font-size: 2.3em;
  font-weight: bold;
}

.verified-profile {
  max-height: 20px;
  margin-left: 10px;
  margin-top: -6px;
}

.profile-moto {
  margin-left: 10px;
  font-size: 18px;
}

.profile-contents {
  display: block;
  margin-left: 100px;
}

.profile-info span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #6e757c;
  margin-top: 8px;
}

.profile-info span i {
  margin-right: 5px;
}

.tution-count i {
  color: lightgreen;
}

.running-tution i {
  color: black;
}

.teaching-classes {
  margin: 30px 0 0 15px;
  font-size: 20px;
  font-weight: 600;
}

.profile-teach-class {
  margin-left: 8px;
  color: white;
  background-color: #44aaff;
  padding: 5px 15px;
  border-radius: 5px;
}

.profile-summary {
  margin-top: 30px;
  font-weight: 400;
  color: #6e757c;
  font-size: 1.3rem;
  text-align: justify;
}

.profile-button-container {
  margin-top: 25px;
  justify-content: space-between;
}

.visit-profile {
  margin-top: 55px;
}

.visit-profile button {
  width: 70%;
}

.visit-profile i {
  transform: translateX(0px);
  transition: 0.4s;
}

.visit-profile:hover i {
  transform: translateX(10px);
  transition: 0.4s;
}

/*Bidesh*/
.bidesh-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(255, 247, 173);
  background: var(--hm-gradient);
  min-height: 400px;
  padding: 2rem 0;
  width: 100%;
  display: block;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
}

.bg-transparent {
  background: transparent;
}

.aeroplane {
  max-height: 500px;
  position: absolute;
  bottom: -168px;
  left: 50%;
  transform: rotate(25deg) translate(-45%);
  opacity: 0.4;
}

.bidesh-container .highlight-text.label-green {
  opacity: 0.7;
}

/*Review*/
.review-container,
.books-to-read-container {
  margin: 3em 0;
}

.review-intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.review-intro h1 {
  font-size: 3em;
}

.review-intro p {
  font-size: 1.5em;
}

.review-container .image-container {
  width: 400px;
  overflow: hidden;
  text-align: center;
  aspect-ratio: 9 / 13;
}

.review-container .image-container img {
  margin-left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
}

.review {
  position: relative;
}

.review .review-message {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 60%;
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  padding: 25px;
  border: 1px solid var(--hm-light-blue);
}

.review-info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.review-message p {
  font-size: 1.25rem;
}

.review-info .user-info {
  text-align: center;
}

.review-info .user-info h5 {
  color: var(--hm-green);
  font-size: 1.8rem;
}

.review-info .rating i {
  color: var(--hm-golden);
  margin-right: 5px;
}

.review-container .slick-prev:before,
.review-container .slick-next:before {
  color: var(--hm-green);
  font-size: 3.5rem;
}

.review-container .slick-prev,
.review-container .slick-next {
  top: 70%;
}

.review-container .slick-next {
  left: -34%;
  right: auto;
}

.review-container .slick-prev {
  left: -41%;
  right: auto;
}

/*Footer*/
footer {
  margin-top: 10rem;
  background-color: var(--hm-light-green);
  position: relative;
  padding: 25px;
}

.footer-top-container {
  position: relative;
  margin-bottom: 25px;
}

.footer-top {
  padding: 2rem;
  background-color: var(--hm-green);
  color: white;
  border-radius: var(--border-radius-big);
  margin-top: -7rem;
}

.footer-top h1 {
  font-size: 3rem;
}

.fotter-top p {
  font-size: 1.5rem;
}

.footer-top-input-group {
  position: relative;
  margin-top: 2%;
}

.footer-top-input-group .join-us-email {
  height: 4rem;
  border-radius: var(--border-radius);
  padding: 0 20% 0 10%;
}

.footer-top-input-group i {
  font-size: 3rem;
  position: absolute;
  left: 10px;
  top: 15%;
  color: green;
}

.footer-top-input-group button {
  background-color: var(--hm-red);
  color: white;
  height: 3rem;
  padding: 5px 30px;
  border: 0px;
  border-radius: var(--border-radius);
  position: absolute;
  right: 10px;
  top: 15%;
}

.footer-logo {
  max-height: 70px;
  width: auto;
}

.footer-about {
  padding-right: 15px;
  font-size: 1.5rem;
  text-align: justify;
}

h4.header {
  margin-top: 1rem;
  color: var(--hm-light-blue);
}

.footer-links {
  padding: 0px;
  margin: 0px;
}

.footer-links li {
  list-style: none;
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.footer-links li a {
  color: black;
}

.footer-links li i {
  margin-right: 8px;
}

.footer-links li a:hover {
  color: var(--hm-green);
}

.footer-app-store {
  max-height: 70px;
  margin-bottom: 15px;
  width: auto;
}

footer .social {
  text-align: center;
}

footer .social a {
  font-size: 2.5rem;
  margin-right: 15px;
}

.facebook {
  color: #3b5998;
}

.instagram {
  color: #C13584;
}

.youtube {
  color: #FF0000;
}

.footer .social a:hover,
.facebook:hover,
.instagram:hover,
.youtube:hover {
  color: var(--hm-green);
}

/*foreign study*/
#map {
  height: 480px;
}

.foreign-study-container {
  margin: 2rem 0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
}

.bootstrap-select>.dropdown-toggle {
  border: 2px solid black;
  border-radius: var(--border-radius);
  min-height: 50px;
  font-size: 18px;
  background-color: white;
}

.foreign-study-container .profile-image {
  max-height: 65px;
}

.foreign-study-container .profile-contents {
  margin-left: 65px;
}

.foreign-study-container .verified-profile {
  margin-left: 5px;
}

.foreign-study-container .profile-name {
  font-size: 1.9em;
}

.foreign-study-container .profile-moto {
  font-size: 1rem;
}

.foreign-study-container .profile-price {
  font-size: 2rem;
  font-weight: 400;
  padding-left: 10px;
  display: block;
  line-height: 1.1;
  margin-top: 8px;
  margin: 1.5rem 0;
}

.foreign-study-container .profile-info {
  padding-left: 10px;
}

.foreign-study-container .profile-info span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  border: 1px solid;
  margin-top: 8px;
  margin-right: 10px;
  padding: 3px 10px;
  border-radius: var(--border-radius-small);
  background-color: var(--hm-light-red);
  border-color: var(--hm-light-red);
}

.foreign-study-container .profile-info span:first-child {
  background-color: var(--hm-light-blue);
  border-color: var(--hm-light-blue);
}

.foreign-study-container .profile-info span:last-child {
  background-color: var(--hm-golden);
  border-color: var(--hm-golden);
}

.foreign-study-container .button-container button {
  font-size: 17px;
  font-weight: 400;
}

.foreign-study-container hr {
  margin: 1.5rem 0;
}

.foreign-info-container {
  padding: 8px 15px;
  font-size: 1.25rem;
  color: black;
}

.foreign-info-container span.gap {
  display: inline-block;
  min-width: 50px;
}

.foreign-info-container span {
  display: inline-block;
}

.foreign-info-container span i {
  font-size: 0.8rem;
  display: block;
  font-style: normal;
  text-align: right;
  color: grey;
}

.foreign-info-container span i.t-left {
  text-align: left;
}

.foreign-info-container span.value {
  color: grey;
  margin-left: 20%;
}

.foreign-info-container span.big-span {
  height: 43.5px;
  vertical-align: top;
}

.tutor-card .button-container i {
  margin-left: 18px;
  transform: rotate(-20deg);
}

.foreign-study-filter-container {
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  border: 1px solid var(--hm-light-blue);
  padding: 10px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.filter-header a {
  color: var(--hm-light-red);
}

.filter-header p {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.side-block {
  margin-top: 1rem;
  padding: 5px;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.side-block label.checkbox {
  display: flex;
  justify-content: left;
  font-size: 1.25rem;
}

.side-block .search-form {
  margin-bottom: 1rem;
}

.side-block .header-search {
  font-size: 15px;
}

.side-block.fos label span {
  font-size: 1rem;
}

#TRangeValue,
#GRangeValue {
  font-size: 1.5rem;
  text-align: center;
}

#trangeslider,
#Grangeslider {
  margin-top: 10px;
}

.sub-section {
  padding-left: 20px;
  margin-bottom: 15px;
}

.rslider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

/* Mouse-over effects */
.rslider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.rslider::-webkit-slider-runnable-track {
  background-color: var(--hm-light-blue);
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 30px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */
  background: white;
  border: 5px solid var(--hm-light-blue);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  margin-top: -10px;
}

.rslider::-moz-progress-bar {
  background-color: var(--hm-light-blue);
}

.rslider::-moz-range-thumb {
  width: 30px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */
  background: white;
  border: 5px solid var(--hm-light-blue);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  margin-top: -10px;
}

#StartProcessModal .modal-content {
  border-radius: 0px;
}

.study-abroad-slider-container {
  padding: 15% 0 0 0;
  width: 100%;
  display: block;
}

.study-aborad-questions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.study-aborad-questions a {
  padding: 8px 24px;
  font-size: 1.5rem;
  border: 1px solid black;
  color: black;
  margin-bottom: 1.5rem;
  width: 45%;
  text-align: center;
  border-radius: var(--border-radius);
}

.study-aborad-questions a:first-child {
  margin-top: 1.5rem;
}

.study-aborad-questions a:hover,
.study-aborad-questions a:active {
  border-color: var(--hm-light-blue);
  color: var(--hm-light-blue);
}

.study-aborad-questions.text-small a {
  font-size: 1.05rem;
  padding: 8px 10px;
  width: 55%;
  margin-bottom: 1rem;
}

.study-aborad-questions.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.study-aborad-questions.horizontal a {
  width: 30%;
  padding: 8px 5px;
}

.study-aborad-questions.horizontal a span {
  font-size: 0.8rem;
  display: block;
  color: gray;
}

.study-aborad-questions.horizontal a:first-child {
  margin-top: 0px;
}

.study-aborad-questions a img {
  max-height: 60px;
  float: left;
}

.study-abroad-slider-container p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.college-list {
  border: 0px;
  color: white;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 35%;
  width: 100%;
  transition: 0.4s;
  background-color: #279e48;
  cursor: pointer;
  display: block;
  text-align: center;
}

.modal {
  display: block !important;
  overflow: hidden !important;
  height: 0px !important;
}

.modal.fade.show {
  opacity: 1 !important;
  display: block !important;
  height: auto !important;
  overflow-y: auto !important;
}

.slick-slide div div {
  padding: 0 2px;
}

.study-abroad-slider-container .slick-dots {
  top: -10%;
  bottom: auto;
  text-align: left;
}

.study-abroad-slider-container .slick-dots button {
  border-bottom: 4px solid grey;
  height: 0px;
  width: 40px;
}

.study-abroad-slider-container .slick-dots li button:before {
  content: '';
}

.study-abroad-slider-container .slick-dots li {
  width: 35px;
}

.study-abroad-slider-container .slick-dots li.slick-active button {
  border-color: var(--hm-light-blue);
}

/*courses*/
.breadcrumb {
  padding: 25px;
  background-color: var(--hm-green);
  color: white;
  padding-bottom: 15rem;
}

.breadcrumb-content ul {
  padding: 0px;
  margin: 0px;
}

.breadcrumb-content ul li {
  display: inline-block;
  list-style: none;
}

.breadcrumb-content ul li::before {
  content: ">";
  margin-right: 6px;
  margin-left: 4px;
}

.breadcrumb-content ul>li:first-child:before {
  content: "";
  margin-right: 0px;
}

.breadcrumb-content ul li,
.breadcrumb-content ul li a {
  font-size: 1.25rem;
  color: white;
}

.breadcrumb-title {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}

.courses-container {
  margin-top: -15.5rem;
}

.courses-contents .CourseCard span.category {
  font-size: 1rem;
}

.courses-contents .CourseCard span.rating {
  font-size: 1rem;
}

.courses-contents .CourseCard .top-contents,
.courses-contents .CourseCard .bottom-contents {
  padding: 10px;
}

.courses-contents .discount-pointer {
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

.courses-contents .discount-pointer:before {
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

.courses-contents span.current-price,
.courses-contents span.old-price {
  font-size: 1.25rem;
}

.courses-contents h1.course-title {
  font-size: 1.5rem;
}

.courses-contents .button-container button {
  font-size: 1rem;
}

.courses-container .filter-container {
  margin-bottom: 2rem;
}

.courses-container .text-container h4 {
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 0px;
}

.courses-container .stars i {
  font-size: 2rem;
}

.courses-container .stars i:hover::before {
  content: "\f005";
  color: var(--hm-golden);
}

@media(max-width:1280px) {
  .nav-logo {
    max-height: 50px;
  }

  .navbar-nav .nav-item {
    padding: 8px 0.25rem;
  }

  .about-left-content h1 {
    font-size: 2.8rem;
  }

  .about-left-content p.about-description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .journey {
    margin-top: 0px;
  }

  .profile-price {
    font-size: 2rem;
  }

  .profile-teach-class {
    padding: 5px 12px;
  }

  .profile-summary {
    margin-top: 15px;
    font-size: 1.2rem;
  }

  .visit-profile {
    margin-top: 13px;
  }

  .foreign-study-container .tutor-card {
    padding: 20px;
  }

  .foreign-study-container .profile-image {
    max-height: 55px;
  }

  .foreign-study-container .profile-contents {
    margin-left: 55px;
  }

  .foreign-study-container .profile-name {
    font-size: 1.5rem;
  }

  .foreign-study-container .profile-moto {
    display: block;
  }

  .foreign-study-container .profile-info span {
    font-size: 0.75rem;
    margin-right: 5px;
    padding: 3px 8px;
  }

  .foreign-study-container .button-container button {
    font-size: 18px;
    padding: 13px;
    margin: 0 5px;
    width: auto;
  }

  .foreign-study-container .profile-price {
    margin: 1rem 0;
  }

  .profile-button-container {
    margin-top: 20px;
  }

  .foreign-info-container span.value {
    color: grey;
    margin-left: 10%;
  }
}

@media(max-width:540px) {
  .journey-container .row div:nth-child(even) .journey-content {
    float: left;
  }

  .journey-content {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .profile-teach-class {
    display: inline-block;
    margin-bottom: 15px;
  }

  .slider-text-content {
    width: 100%;
    float: left;
  }

  .highlight-text {
    top: 68%;
    width: 90%;
  }

  .slider-container .highlight-text {
    display: none;
  }

  .slider-image-container {
    width: 100%;
  }

  .review .review-message {
    top: 44.5%;
    transform: none;
    right: 12px;
  }
}